{% extends "base.html" %}

{% block title %}
CoShare - Content Manager
{% endblock %}

{% block head %}

<link href="/static/css/smoothness/jquery-ui-1.10.2.custom.css" rel="stylesheet">

<script src="/static/js/jquery.watermark.min.js"></script>

<!-- packery -->
<script src="{{STATIC_URL}}/js/packery.min.js"></script>
<script src="{{STATIC_URL}}/js/jquery.imagesloaded.js"></script>

<!-- Models -->
<script src="/static/js/album.js"></script>
<script src="/static/js/content.js"></script>
<script src="/static/js/model.js"></script>

<!-- Slider -->
<script src="{{STATIC_URL}}/js/bootstrap-slider.js"></script>
<link href="{{STATIC_URL}}/css/slider.css" rel="stylesheet">

<link href="{{STATIC_URL}}/css/browse.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Autour+One' rel='stylesheet' type='text/css'>

<style>
.well {
  position: static;
}
</style>


<script type="text/javascript">

var selected_content_ids = [];
var selected_content_map = {};
var image_info = [];
var last_removed_content_list = [];
var last_removed_content_album;
var album_map = {};
var favorites_album;
var current_album;
var album_list = [];
var pckry;
var model = new Model();
var user_queue_id = {{user_queue_id}};
var already_favorited = false;
var child_list = [];
var cached_description = "";
var mousedownHappened = false;


$(function() {

  var update_selection_count = function() {
    var num_selected = model.get_num_selected_contents();
    var num_total =  model.selected_album.get_contents().length;
    $("#selection-count")
    .text(num_selected + " of " + num_total + " selected");
    
    if (num_selected === 0) {
      $("#btnRemoveSelectedContent, #btnDeselectAll")
      .addClass("disabled");
    } else {
      $("#btnRemoveSelectedContent, #btnDeselectAll")
      .removeClass("disabled");
    }

    if (num_selected === num_total) {
      $("#btnSelectAll").addClass("disabled");
    } else {
      $("#btnSelectAll").removeClass("disabled");
    }
  }

  /***************************************/
  /************* COSMETICS ***************/
  /***************************************/
  $('#new_plist')
  .watermark('New Album')
  .keyup(function (e) {
    if (e.keyCode == 13 && e.target.value != "") {
      var name = e.target.value;
      new_plist(name, function(id) {
        var album = new Album(parseInt(id),name);
        model.add_album(album);
      });
    }})
  .droppable({
    activeClass: "new-album-dd-active",
    hoverClass: "new-album-dd-hover",
    accept: ".content",
    drop: function( event, ui ) {
      // capture dropping onto new album text box
      // we want to do the following
      //  1) create new album
      //  2) add selected content to this new album
      //  3) edit new album name and give focus
    new_plist("New Album", function(new_id) {
      // new_id is a string that is the id of the newly created album

      // construct fake album with correct ID
      var album = new Album(parseInt(new_id), "New Album");
      model.add_album(album);

      // add content to newly created album
      var selected_contents = model.get_selected_contents();
      for (var i in selected_contents) {
        var content = selected_contents[i];
        console.log(selected_contents[i]);
        album.post_content(content, function(new_size) {
          update_queue_size(album, new_size);  
        });
      }



    });
    console.log("TODO: initiate editing.");

    },

  });

  var container = document.querySelector("#contents-container")
  pckry = new Packery(container, {
    itemSelector: ".content",
    transitionDuration: "0.75s",
  });

  $("#slider")
  .slider({
    value: 1,
    min: 1,
    max: 5,
  })
  .on("slide", function(ev) {
    $("img").css("height", 100*ev.value);
    pckry.layout();
  });

  /******************************************/
  /**** Register Listeners to the Model *****/
  /******************************************/

  /*

Use the pardigm of an event driving everything.
Capture the raw input event and IMMEDIATELY translate
it into a high level event in the model.
The model will propagate the appropriate effects.s

*/

  // instantiate model
  

  /************ ADD ALBUM LISTENER **********/
  model.addEventListener("add_album", function(e) {
    var childPlaylist = false;
    if (e.album.get_name() == "Favorites") {
      favorites_album = e.album;
    }

    for (var i=0; i < child_list.length; i++) {
      var name = e.album.get_name().toString();
      if (child_list[i] == name) {
        childPlaylist = true;
        break;
      }
    }

    var album_li = $("<li />");
    var icon = document.createElement("i");
    var link = document.createElement("a");
    link.setAttribute("class", "album-link");
    link.setAttribute("class", "album-name");
    var nameSpan = document.createElement("span");
    link.setAttribute("href","/browse/?id=" + e.album.id); //
    if (e.album.is_user_generated() && !childPlaylist) {
      var option = document.createElement("option");
      option.text = e.album.get_name();

      
      icon.setAttribute("class", "icon-folder-close");


      option.value = e.album.id;
      var select = document.getElementById("album_list");
      select.appendChild(option);

      /**.addClass("album-name")**/
      album_li
      .attr("id", "album-" + e.album.id)
      .click(function() {
        console.dir(this)
        console.dir(this.classList)
        if (this.classList[2] == "active"){
          return false
        }
        else{
        model.select_album(e.album);
      }
      });
      nameSpan.innerHTML = e.album.get_name();
      link.innerHTML = icon.outerHTML+ nameSpan.outerHTML + " &nbsp;";

      album_li.append(link);

      $("#user-created-albums").append(album_li);
      album_list.push(e.album);
      
    }


    else{
      if(e.album.name.indexOf("Queue")!=-1){
        icon.setAttribute("class", "icon-tasks");
      }
      else if(e.album.name.indexOf("Favorite")!=-1){
        icon.setAttribute("class", "icon-star"); 
      }
      else if(childPlaylist) {
        icon.setAttribute("class", "icon-user"); 
      }
      else{
        icon.setAttribute("class", "icon-cog");
      }
      /**.addClass("album-name")**/
      album_li
      .attr("id", "album-" + e.album.id)
      .click(function() {
       if (this.classList[2] == "active"){
          return false
        }
        else{
        model.select_album(e.album);
      }
      });
      link.innerHTML = icon.outerHTML+ e.album.get_name() + " ";
      if (e.album.id === user_queue_id) {
        link.innerHTML = icon.outerHTML + "Your Queue ";
      }
      album_li.append(link);
      if (childPlaylist) {
        $("#children-albums").append(album_li);
      }
      else if(e.album.name.indexOf("Queue") == -1 && e.album.name != "Favorites"){
        $("#automatic-albums").append(album_li);

      }
      else{
        $("#special-albums").append(album_li); 
      }
    }
    model.addEventListener("rename_album", function(e2) {

      if (e2.album.equals(e.album)) {
        album_li.text(e2.album.get_name());
        $("#album-title").text(e2.album.get_name());
      }});
    var album_li = $("#album-" + e.album.id)
    if (e.album.is_user_generated() || (e.album.name.indexOf("Queue") != -1) || (e.album.name === "Favorites")) {
      make_droppable(e.album, album_li);
    } else {

      album_li.droppable();
    }
  });

var make_droppable = function(album, album_div) {
  album_div.droppable({
    activeClass: "droppable-album",
    hoverClass: "active",
    accept: ".content",
    drop: function( event, ui ) {
      var selected_contents = model.get_selected_contents();
      for (var i in selected_contents) {
        var content = selected_contents[i];
        console.log(selected_contents[i]);
        album.post_content(content, function(new_size) {
          update_queue_size(album, new_size);  
        });
      }
      $(this).tooltip({
        title: "Added!",
        placement: "left",
        trigger: "manual",
      }).tooltip("show");
      var that = this;
      setTimeout(function() {
        $(that).tooltip("destroy");
      }, 2000);
    },
  });
}

/*********** SELECT ALBUM LISTENER ********/
model.addEventListener("select_album", function(e) {
  $("#remove_button")[0].style.display = "none";
  var dropdown = $('#remove_dropdown')[0];
  dropdown.innerHTML = "";
  if (e.album.name != "All Content" && e.album.name != "Recently Added" && e.album.name && "Recently Favorited") {
    $('#remove_dropdown').append('<li><a href="#" onclick="remove_from_album()">From Album</a></li>');
                 
  }
$('#remove_dropdown').append('<li><a href="#" onclick="remove_from_site()">From Website</a></li>');
  for (var i in model.albums) {
    var album = model.albums[i];
    update_queue_size(album, album.get_contents().length);  
  }
  
  update_selection_count();

  selected_content_ids = [];
  selected_content_map = {};
  selected_album = e.album.id;
  current_album = e.album;

  // refresh title
  $("#album-title").text(e.album.get_name());

  // update display
  // TODO: fix rep exposure
  if (e.album.is_auto) {
    $("#album-" + e.album.id).addClass("selected-auto-album");
  } else {
    var isChild = $("#album-" + e.album.id).parent().attr("id") == "children-albums";
    if (e.album.is_user_generated() && ! e.album.is_selected && !isChild){
      var edit = document.createElement("i");
      edit.setAttribute("class", "icon-pencil pull-right");
      edit.setAttribute("id", "pencil");
      var remove = document.createElement("i");
      remove.setAttribute("class", "icon-remove pull-right");
      remove.setAttribute("id", "remove");

      $("#album-" + e.album.id).addClass("selected-album");
      $("#album-" + e.album.id).find("a").append(remove);
      $("#album-" + e.album.id).find("a").append(edit);
    //e.album.set_is_selected(true);
    $("#album-" + e.album.id + "> a > span").attr("id","selected-span");
    $("#album-" + e.album.id + "> a > span").attr("spellcheck","false");
  }
}
$("#album-" + e.album.id).addClass("active");
$("#album-" + e.album.id).addClass("select-extend");


  // disable droppability
  $("#album-" + e.album.id).droppable("destroy");


  // show/hide relevant pictures
  // TODO: these buttons don't exist anymore.
  if (e.album.can_rename()) {
    $("#btnRenameAlbum").removeAttr("disabled");
  } else {
    $("#btnRenameAlbum").attr("disabled", "disabled");
  }

  if (e.album.can_remove()) {
    $("#btnRemoveAlbum").removeAttr("disabled");
  } else {
    $("#btnRemoveAlbum").attr("disabled", "disabled");
  }

  if (e.album.can_edit_content()) {
    $("#btnRemoveSelectedContent").removeAttr("disabled");
  } else {
    $("#btnRemoveSelectedContent").attr("disabled", "disabled");
  }

  $("#contents-container .content").each(function(i,v) {
    pckry.remove(v);
  });
  pckry.layout();
  var contents = e.album.get_contents();
  $(contents).each(function(i, content) {
    var inner = $(content.get_content())
    .addClass("content")
    .attr("id", "content-" + content.id)
    .attr("id-num", content.id)
    .click(function() {
      if ($(this).data("dragging")) {
        return;
      }
      model.toggle_content(content);
    });

    $("#contents-container").append(inner);
    pckry.appended(inner.get());

  });
  $("#contents-container").imagesLoaded(function() {
    $("#contents-container img").each(function(i, v) {
      $(v).css("min-width", $(v).css('width'));
    });
    pckry.layout();
  });

  if (contents.length == 0) {

    var message = $("<p />")
      .text("This album is empty.")
      .addClass("empty-message")
      .addClass("text-center");
    
    $("#contents-container").append(message);
  }

  $("#content").text("content from " + e.album.get_name());

  $(".content").dblclick(function() {
    if (last_clicked_content.height == 200) {
      $(".favorited").addClass("btn-success")
    }
    $(".alert").alert('close');
    
    $("#openModal").modal("show");
    $(".albumList").empty();
    var image = $(this).attr("src");

    if (!image) {
      image = $(this).attr("src");
    }

    var id_val = $(this).attr("id-num");
    populateModal(image,id_val);

  });
});

/******** DESELECT ALBUM LISTENER *********/
model.addEventListener("deselect_album", function(e) {
  var album_div = $("#album-" + e.album.id)
  
  if (e.album.is_user_generated()) {
    make_droppable(e.album, album_div);
  } else {
    album_div.droppable();

  }
  var pencil = document.getElementById("pencil");
  album_div.removeClass("selected-album")
  .removeClass("selected-auto-album").removeClass("active");
  // album_div.removeChild(album_div.lastChild);
  $("#album-" + e.album.id+ "> a > .icon-pencil").remove();
  $("#album-" + e.album.id+ "> a > .icon-remove").remove();
  // album_div.remove(album_div.find(pencil));
});

/********** REMOVE ALBUM LISTENER *********/
model.addEventListener("remove_album", function(e) {
  $("#album-" + e.album.id).fadeOut();
});

/********* REMOVE CONTENT LISTENER ********/
model.addEventListener("remove_content", function(e) {

  last_removed_content_album  = current_album;
  $("#content-" + e.content.id).each(function(i, v) {
    last_removed_content_list.push(e.content);
    pckry.remove(v);
    
  });
  $("#undo_div")[0].style.visibility="visible";
  pckry.layout();
});



/****** SELECT CONTENT LISETENER ********/
model.addEventListener("select_content", function(e) {
  $("#remove_button")[0].style.display = "block";
  update_selection_count();
  last_clicked_content = e.content;
  var content_div = $("#content-" + e.content.id);
  content_div.addClass("selected-content");
  var ignored_selectors = "#automatic-albums, .navbar, " + "#album-" + current_album.id;
  $("#content-" + e.content.id).draggable({
    start: function(event, ui) {
      $(ignored_selectors).fadeTo(250, 0.2);
      $(this).data("dragging", true);
    },
    helper: function( event ) {
      return $("<div />")
        .addClass("badge")
        .attr("id", "helper")
        .text("" + model.get_num_selected_contents());
    },
    stop: function(event, ui) {
      $(ignored_selectors).fadeTo(250, 1);
      var that = this;
      setTimeout(function() {
        $(that).data("dragging", false); }, 300);
    },
    distance: 20,
    cursorAt: { top: 0, left: -25 },
    cursor: "default",
  })});

model.addEventListener("deselect_content", function(e) {
  if (model.get_num_selected_contents() == 0 ) {
  $("#remove_button")[0].style.display = "none";

  }
  update_selection_count();
  last_clicked_content = e.content;
  var content_div = $("#content-" + e.content.id);
  content_div
  .draggable('destroy')
  .removeClass("selected-content");
});

  // Make Child List
  {% for child in children%}
    child_list.push("{{child.name}}");
  {% endfor %}

  // get albums from django
  // MUST APPEAR AFTER LISTENERS ARE CREATED
  var album;
  {% for album in albums %}
  /*
  {{album.name}}
  */
 album = new Album({{album.id}},"{{album.name}}");
  
  album_map[{{album.id}}] = album;
  album_list.push(album);
  {% for content in album.content.all %}
  album.add_content({{content.id}},"{{content.image}}",{{content.metric}},false);


  {% endfor %}
  model.add_album(album);

  {% endfor %}

  
  
  var valid_album = false;
  var all_album;
  for (var i = 0; i < album_list.length; i++)  {
    if (album_list[i].name == "All Content") {
      all_album = album_list[i];
    }

    if ("{{selected_album.name}}" == album_list[i].name) {
      model.select_album(album_list[i]);
      valid_album = true;
    }

  }

  if (!valid_album) {
    model.select_album(all_album);
  }


  // CRUD operations on albums

  // Event listener for edit pencil - editing albums
  $(".active > .album-name >#pencil").click(function(e){
    $("#selected-span").attr("contenteditable",true);
    $("#selected-span").addClass("editable");
    $("#selected-span").focus(); 
    document.execCommand('selectAll', false, null);
    return false;
  });

  $('.active').click(function() {
    $(".active > .album-name >#pencil").click(function(e){
      $("#selected-span").attr("contenteditable",true);
      $("#selected-span").addClass("editable");
      $("#selected-span").focus();
      document.execCommand('selectAll', false, null);
    });
    return false;
    });

   $("#selected-span").blur(function(){
      $(this).attr("contenteditable",false);
      $(this).removeClass("editable");
      rename_album($(this)[0].innerHTML);
    }
  );

  $('#selected-span').keydown(function(event) {
    if (event.which == 13) {
      $(this).blur();
      $(this).attr("contenteditable",false);
      $(this).removeClass("editable");
      rename_album($(this)[0].innerHTML);
    }
  });

  function rename_album(name) {
    var id = $(".active")[0].id.split("-")[1];
    $.ajax({
      type: "POST",
      url: "/ajax/rename_album/",
      data: { name:name, album_id:id }
    }).done(function( msg ) {
    });
  }

   $(".active > .album-name >#remove").click(function(e){
    $('#confirm-delete').modal('show');
    return false;
  });

  $('.active').click(function() {
    $(".active > .album-name >#remove").click(function(e){
      $('#confirm-delete').modal('show');
    });
    return false;
    });

  $(".cancel_delete").click(function(){
    $('#confirm-delete').modal('hide');
  });

  $(".perform_delete").click(function(){
    remove_album();
    $('#confirm-delete').modal('hide');
    location.reload();
  });

  function remove_album() {
    var album_id = $(".active")[0].id.split("-")[1];
    $.ajax({
      type: "POST",
      url: "/ajax/remove_album/",
      data: {album_id:album_id}
    }).done(function( msg ) {
    });
  }

  // create

  $("#btnRenameAlbum").click(function() {
    model.rename_selected_album();
  });

  $("#btnRemoveAlbum").click(function() {
    model.remove_selected_album();
  });

  // Select/Deselect All
  $("#btnSelectAll").click(function() {
    model.select_all();
  });

  $("#btnDeselectAll").click(function() {
    model.deselect_all();
  });

  $("#editButton").click(function() {
    var state = $("#editButton").html();
    if (state.toString() == "Save Changes") {
      saveDescription();
    } else {
      editDescription();
    }
  });

  var populateModal = function(image, id_val) {
    $(".imageHolder").attr("src",image);
    $(".imageHolder").attr("id-num",id_val);

    image_info = {};
    image_info['src'] = image.substring(7);
    image_info['id'] = id_val;
    image_info['height'] = $(this).children("img").attr("height") / 10;
    already_favorited = false;
    // Add favorited icon to reflect picture
    if (favorites_album.content_in(id_val)) {
      $(".favoriteIcon").addClass("isFavorited");
      $(".favoriteIcon").html('&#9733');
      already_favorited = true;
    }
    // Add albums info to list
    $.ajax({
      type: "POST",
      url: "/open_modal_view/",
      data: {id: id_val}
    }).done(function( msg ) {
        // upload picture description
        var description = msg["des"];
        var pls = msg["albums"];
        var photo_table = msg["photos"];
        
        $(".imageDescription").text(description);

        for (var i = 0; i < pls.length; i++) {
          var plName = pls[i];
          if (plName == "All Content") {
            continue;
          }
          var titleElement = $("<h5>" + plName + "</h5>");
          var uiElement = $("<ui style='cursor:hand;' class='outerUI'> </ui>");
          uiElement.append(titleElement);
          uiElement.click(function() {
            var curName = $(this).children("h5").html();
            albumClick(curName.toString());
          });
          var ulPhoto = $("<ul class='previewPhoto'> </ul>");
          for (var j=0; j < photo_table[plName].length; j++) {
            ulPhoto.append($("<ui class='innerUI'> <img class='thumbnail' src='"+photo_table[plName][j]+"'></img></ui"));
          }
          uiElement.append(ulPhoto);
          $(".albumList").append(uiElement);
        }
      });

}

var albumClick = function(albumName) {
    // Close Modal
    $(".alert").alert('close');
    $("#openModal").modal("hide");

    // Get correct album
    var match;
    albumName = albumName.trim();
    if (albumName.indexOf("My Queue") != -1) {
      albumName = "Your Queue";
    }

    $("#children-albums").find("a").each(function(index,element) {
      var text = $(element).text();
      if (text.trim() == albumName) {
        match = $(element);
      }
    });

    $("#automatic-albums").find("a").each(function(index,element) {
      var text = $(element).text();
      if (text.trim() == albumName) {
        match = $(element);
      }
    });

    $("#special-albums").find("a").each(function(index,element) {
      var text = $(element).text();
      console.log(text,albumName);
      
      if (text.indexOf("Queue") != -1) {
        text = text.substring(0,text.length - 2);
      }
      if (text.trim() == albumName) {
        match = $(element);
      }
    });



    $("#user-created-albums").find("a").each(function(index,element) {
      var text = $(element).text();
      if (text.trim() == albumName) {
        match = $(element);
      }
    });

    // Get album object
    var id = match.parent().attr("id");
    id = id.substring(6);
    var album;
    for (var i=0; i < model.albums.length; i++) {
      var curID = model.albums[i]["id"];
      if (curID.toString() == id.toString()) {
        album = model.albums[i];
        break;
      }
    }

    // Trigger event to load selected album
    model.select_album(album);
    

  }
  $(".imageDescription").dblclick(function(){
    editDescription();
  });

  $(".imageDescription").blur(function(){
    if (mousedownHappened) {
      mousedownHappened = false;
    }
    else{
      $(this).attr("contenteditable",false);
      console.log("blur");
      saveDescription();
    }
  }
  );

  $("#cancelButton").mousedown(function() {
    mousedownHappened = true;
});

  $("#cancelButton").click(function (){
    $(".imageDescription")[0].innerHTML = cached_description;
    $(".imageDescription").attr("contenteditable",false);
    $(this)[0].style.visibility = "hidden";
    $("#editButton").html('Edit');
    console.log("canceled");
  });

  var editDescription = function() {
    $("#cancelButton")[0].style.visibility = "visible";
    $('.imageDescription').attr("spellcheck","false");
    cached_description = $(".imageDescription")[0].innerText;
    $(".alert").alert('close');
    $('.imageDescription').attr("contenteditable",true);
    $(".imageDescription").focus();
    document.execCommand('selectAll', false, null);
    $("#editButton").html('Save Changes');
  };


  var saveDescription = function() {
    $("#cancelButton")[0].style.visibility = "hidden";
    var text = $(".imageDescription")[0].innerText;
    text = text.trim();
    $('.imageDescription').attr("contenteditable",false);
    var id_val = $(".imageHolder").attr("id-num").toString();
    var alertBox;
    // send new text value to the server
    $.ajax({
      type: "POST",
      url: "/save_description/",
      data: { id: id_val, description: text}
    }).done(function( msg ) {
      $(".alert").alert('close');
      if (msg != "error") {
        alertBox = $("<div class='alert alert-block alert-success'> Description was updated. </div>");

        $("#descriptionBox").append(alertBox);
      } else {
        alertBox = $("<div class='alert alert-block alert-error'> <strong> ERROR!</strong> Description was not updated. </div>");

        $("#descriptionBox").append(alertBox);
      }
      $("#editButton").html('Edit');
      fadeAlert(alertBox);
    });
  };

  var fadeAlert = function(alert) {
    alert.fadeOut(3000);
  }

  $("#closeModal").click(function() {
    $(".alert").alert('close');
    $("#openModal").modal("hide");
  });

  // Full screen handler
  $(".imageHolder").dblclick(function() {
    // Take image to full screen
    // determin type of browser
    try {
      $(this).get(0).mozRequestFullScreen();
    } catch(err) {
      try {
        $(this).get(0).webkitRequestFullScreen();
      } catch(err) {
        console.log("no full screen support for browser");
      }
    }
  });
  

  $("#deletePicture").click(function() {
    var confirmBox = confirm("Deleting will remove this photo from all albums, as well as from your account. Do you want to continue?");
    if (confirmBox == true) {
      $("#openModal").modal("hide");
      // Delete from backend, and update page
    } else {
      // do nothing
    }
  });


  // Favorited icon click handler
  $(".favoriteIcon").click(function() {
    $(this).toggleClass("isFavorited");
    if ($(this).hasClass("isFavorited")) {
      $(this).html('&#9733');
    } else {
      $(this).html('&#9734');

    }
  });

  $(".favoriteIcon").hover(
    function() {
      $(this).addClass('mouseOver');
    },
    function() {
      $(this).removeClass('mouseOver');
      // After mouse leaves update back end
      if ($(this).hasClass('isFavorited')) {
        favorites_album.add_content(image_info['id'],image_info['src'],image_info['height'],!already_favorited);
      } else {
        favorites_album.remove_content(last_clicked_content);
        already_favorited = false;
      }
    }
  );

});

function new_plist(name, callback) {
    $.ajax({
      type: "POST",
      url: "/ajax/add_album/",
      data: { name:name }
    }).done(callback);
    $("#new_plist")[0].value = "";
  }

function new_album() {
    var name = $("#new_plist")[0].value;
    new_plist(name, function(id) {
        var album = new Album(parseInt(id),name);
        model.add_album(album);
      });
  }

function undo_remove() {
  var album = last_removed_content_album;
  for (var i = 0; i < last_removed_content_list.length; i++ ) {
    album.post_content(last_removed_content_list[i]);
  }
  location.reload(true);
}

var update_queue_size = function(album, new_size) {
  if (album.name.indexOf("Queue") != -1) {
    $("#album-" + album.id + " .badge").remove();
    var badge = $("<span />").addClass("badge").text(new_size);
    $("#album-" + album.id + " a").append(badge);
    if (album.id === user_queue_id) {
      if (new_size > 0) {
        badge.addClass("badge-important");
      }
    }
  }
}

var callback = function(new_size) {
  console.log("wasup");
  update_queue_size(model.selected_album, new_size)
};

function remove_from_album() {
  model.remove_selected_contents_from_selected_album(false, callback);
}
function remove_from_site() {
  model.remove_selected_contents_from_selected_album(true, callback);
}


</script>
{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="well album-well sidebar-nav">
        <div id="albums-container">
          <ul id="children-albums" class="nav nav-list">
            <li class="nav-header">Children Albums</li>
          </ul>
        </div>
      </div>
        <div class="well album-well sidebar-nav">
        <div id="albums-container" data-intro='Here are all your albums - they help group related content and are automatically shared with your spouse. <br><br>Try selecting one.' data-step='1'>
          <ul id="automatic-albums" class="nav nav-list" data-intro="These albums are automatically generated for you by us." data-step='2'>
            <li class="nav-header">Standard Albums</li>
          </ul>
        </div>
      </div>

        <div class="well album-well sidebar-nav">
          <div id="albums-container">
            <ul id="special-albums" class="nav nav-list" data-intro="These albums help you communicate with your spouse on what content you need view or edit. <br><br> If you want your spouse to edit something, drag it to the <b>Spouse Content to Edit</b> album. <br><br> If you want to see what your spouse wants you to look at, check out <b>Content to Edit</b>." data-step='3'>
            <li class="nav-header">Edit Albums</li>
            </ul>
            <ul id="user-created-albums" class="nav nav-list" data-intro='These are your custom albums. Fill them however you please.' data-step='4'>
            <li class="nav-header">Your Albums</li>
          </ul>
          <input name="name" id="new_plist" type="text"/>
        </div>
        <div class="text-center"><button class="btn create" onclick="new_album()">Create</button>
          </div>
      </div><!--/.well -->
    </div><!--/span-->
    <div id="content-well" class="span9">
      <div>
        <div align="right" id="undo_div" style="visibility:hidden;color:orange">
          Content Removed! <button class = "btn btn-warning" onclick="undo_remove()"> Undo </button>
        </div>

      </div>
      <div class="container-fluid">
        <!-- TITLE -->
        <div id="row-fluid">
          <div class="span12">
            <h2 align="center" style="line-height:100%" id="album-title" data-intro='This shows content from your currently selected album. <br>Try selecting some content. <br><br><b>Note</b>: You can drag and drop These pieces of content between Albums.' data-step='5'></h2>
          </div>
        </div>
        <!-- Selection -->
        <div class="row-fluid">
          <!-- left buttons -->
          <div class="span5">

           <button class="btn btn-primary" id="btnSelectAll">Select All</button>
           <button class="btn btn-primary" id="btnDeselectAll">Deselect All</button>
          </div>
          <!-- middle selection count -->
          <div class="span2">
            <h4 class="text-center" id="selection-count" />
          </div>
          <!-- right buttons -->
          <div align="right" class="span5">
              <div class="btn-group">
                <a id="remove_button" class="btn dropdown-toggle btn-danger" data-toggle="dropdown" href="#">
                  Remove Selected Content
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" id="remove_dropdown">
                 <li><a href="#" onclick="remove_from_album()">From Album</a></li>
                 <li><a href="#" onclick="remove_from_site()">From Website</a></li>
                </ul>
              </div>
          </div>
        </div> <!-- end of Selection row -->

        <!-- slider row -->
        <div class="row-fluid">
          <table>
            <tr>
              <td><i class="icon-zoom-out"></i></td>
              <td><div id="slider" class="slider" /></td>
              <td><i class="icon-zoom-in"></i></td>
            </tr>
          </table>
        </div>
        <!-- end slider row -->

        <!-- actual content! -->
        <div class="row-fluid">
          <div class="span12" id="contents-container" />
        </div>

      </div> <!-- end right side of screen container -->
    </div> <!-- end content well -->
  </div>
</div>

<!--- MODAL SHIT -->

<div id="backdrop" class = "modal-backdrop fade in" style="opacity:0; pointer-events:none"></div>
<div id="openModal" class="modal hide fade" role="dialog">
  <div class="modal-header">
    <button id="closeModal" type="button" class="close">x</button>
    <h4> Picture </h4>
  </div>
  <div class="modal-body">
    <div class="row-fluid">
      <div class="span6" id="leftCol">
        <img class="imageHolder" id="modalImage" src=""></img>
        <div class="favoriteIcon">&#9734</div>
          <!--
          <button class="btn favorited"> Favorited </button>
        -->
      </div>
      <div class="span5 offset1" id="rightCol">
        <h4> Album Membership </h4>
        <ul class="albumList">
        </ul>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12" id="descriptionBox">
        <h4> Description </h4>
        <div class="imageDescription"></div>
        <button class='btn buttonLeft' id='cancelButton' onclick='cancelDescription()' style="visibility:hidden;"> Cancel </button>  
        <button class="btn btn-success buttonRight" id="editButton"> Edit </button>
        <br>
        <br>
      </div>
    </div>
  </div>
    <!--
    <div class="modal-footer">
      <button class="btn btn-danger" id="deletePicture"> Delete </button>
    </div>
  -->
</div>

<div id="confirm-delete" class="modal hide fade">
    <div class="modal-header">
      <a href="#" class="close cancel_delete">&times;</a>
      <h3>Delete Album</h3>
    </div>
    <div class="modal-body">
      <p>You are about to delete an album, this procedure is irreversible.</p>
      <p>Do you want to proceed?</p>
    </div>
    <div class="modal-footer">
      <a class="btn cancel_delete buttonLeft">Cancel</a>
      <a class="btn btn-danger perform_delete buttonRight">Delete</a>
    </div>
</div>

{% endblock %}








