{% extends "base.html" %}

{% block title %}
CoShare - Content Manager
{% endblock %}

{% block head %}

<link href="/static/css/smoothness/jquery-ui-1.10.2.custom.css" rel="stylesheet">

<script src="/static/js/jquery.watermark.min.js"></script>

<!-- packery -->
<script src="{{STATIC_URL}}/js/packery.min.js"></script>
<script src="{{STATIC_URL}}/js/jquery.imagesloaded.js"></script>

<!-- Models -->
<script src="/static/js/album.js"></script>
<script src="/static/js/content.js"></script>
<script src="/static/js/model.js"></script>

<link href="{{STATIC_URL}}/css/browse.css" rel="stylesheet">


<script type="text/javascript">

var selected_content_ids = [];
var selected_content_map = {};
var image_info = [];

var album_map = {};
var favorites_album;

$(function() {

  /***************************************/
  /************* COSMETICS ***************/
  /***************************************/
  function new_plist(name) {
    $("#new_plist")[0].value = "";
    var album = new Album(100,name);
    model.add_album(album);
    $.ajax({
      type: "POST",
      url: "/ajax/add_album/",
      data: { name:name }
    }).done(function( msg ) {
    });

  }
  $('#new_plist')
    .watermark('New Album')
    .keyup(function (e) {
      if (e.keyCode == 13) {
        new_plist(e.target.value);
      }
    })
    .droppable({
      activeClass: "droppable-new-album",
      hoverClass: "hover-drop-new-album",
      accept: ".content",
      drop: function( event, ui ) {
        alert("insert workflow for creating new album from selection");
      },
    });

var container = document.querySelector("#contents-container")
var pckry = new Packery(container, {
  itemSelector: ".content",
});

/******************************************/
/**** Register Listeners to the Model *****/
/******************************************/

  /*

Use the pardigm of an event driving everything.
Capture the raw input event and IMMEDIATELY translate
it into a high level event in the model.
The model will propagate the appropriate effects.s

*/

  // instantiate model
  var model = new Model();

  /************ ADD ALBUM LISTENER **********/
  model.addEventListener("add_album", function(e) {

    if (e.album.get_name() == "Favorites") {
      favorites_album = e.album;
    }


    var album_div = $("<div />");
    if (e.album.is_user_generated()) {
      var option = document.createElement("option");
      option.text = e.album.get_name();

      option.value = e.album.id;
      var select = document.getElementById("album_list");
      select.appendChild(option);
      album_div
      .addClass("album-name")
      .attr("id", "album-" + e.album.id)
      .text(e.album.get_name())
      .click(function() {
        model.select_album(e.album);
      });

      $("#dynamic-albums").append(album_div);
    }


    else{
      var icon = document.createElement("img");
      icon.setAttribute("id", "icon")
      icon.setAttribute("src", "/static/assets/img/static_album_icon.png");
      icon.setAttribute("alt", "static album");
      icon.setAttribute("height", "25");
      icon.setAttribute("width", "25");

      album_div
      .addClass("album-name")
      .attr("id", "album-" + e.album.id)
      .click(function() {
        model.select_album(e.album);
      });
      album_div.append(icon);
      album_div.append(e.album.get_name()); 

      $("#static-albums").append(album_div);
    }
    model.addEventListener("rename_album", function(e2) {

      if (e2.album.equals(e.album)) {
        album_div.text(e2.album.get_name());
        $("#album-title").text(e2.album.get_name());
      }});
    var album_div = $("#album-" + e.album.id)
    if (e.album.is_user_generated()) {
      make_droppable(album_div);
    } else {
      album_div.droppable();
    }
});

var make_droppable = function(album_div) {
  album_div.droppable({
        activeClass: "droppable-album",
        hoverClass: "hover-drop-album",
        accept: ".content",
        drop: function( event, ui ) {
        },
      });
}

/*********** SELECT ALBUM LISTENER ********/
model.addEventListener("select_album", function(e) {

  selected_content_ids = [];
  selected_content_map = {};
  selected_album = e.album.id;
  // refresh title
  $("#album-title").text(e.album.get_name());

  // update display
  // TODO: fix rep exposure
  if (e.album.is_auto) {
    $("#album-" + e.album.id).addClass("selected-auto-album");
  } else {
    $("#album-" + e.album.id).addClass("selected-album");
  }

  
  // disable droppability
  $("#album-" + e.album.id).droppable("destroy");


  // show/hide relevant pictures
  // TODO: these buttons don't exist anymore.
  if (e.album.can_rename()) {
    $("#btnRenameAlbum").removeAttr("disabled");
  } else {
    $("#btnRenameAlbum").attr("disabled", "disabled");
  }

  if (e.album.can_remove()) {
    $("#btnRemoveAlbum").removeAttr("disabled");
  } else {
    $("#btnRemoveAlbum").attr("disabled", "disabled");
  }

  if (e.album.can_edit_content()) {
    $("#btnRemoveSelectedContent").removeAttr("disabled");
  } else {
    $("#btnRemoveSelectedContent").attr("disabled", "disabled");
  }

  // refresh contents
  //$("#contents-container").isotope('remove', $("#contents-container .content"));
  //$("#contents-container").packery('remove', $("#contents-container .content"));
  $("#contents-container .content").each(function(i,v) {
    pckry.remove(v);
  });
  pckry.layout();
  var contents = e.album.get_contents();
  $(contents).each(function(i, content) {
    var inner = content.get_content();
    var div = $("<div />")
    .append(inner)
    .addClass("content")
    .attr("id", "content-" + content.id)
    .attr("id-num", content.id)
    .click(function() {
      model.toggle_content(content);
    });

    $("#contents-container").append(div);
    pckry.appended(div.get());

    /*
    model.addEventListener("select_content", function(e2) {
      if (e2.content.equals(content)) {
        div.addClass("selected-content");
        selected_content_ids.push(e2.content.id);
        selected_content_map[e2.content.id] = e2.content.get_content().src.split("/media/")[1];;
      }
    });
    model.addEventListener("deselect_content", function(e2) {
      if (e2.content.equals(content)) {
        div.removeClass("selected-content");
        var index = selected_content_ids.indexOf(e2.content.id);
        delete selected_content_map[e2.content.id];
        selected_content_ids.splice(index,1);
      }
    });
    */
  });
  $("#contents-container").imagesLoaded(function() {
    pckry.layout();
  });
  $("#content").text("content from " + e.album.get_name());

  $(".content").dblclick(function() {
    $(".alert").alert('close');
    $(".albumList").empty();
    $("#openModal").css("opacity",1);
    $("#openModal").css("pointer-events","auto");
    var image = $(this).children("img").attr("src");
    console.log(image);
    if (!image) {
      image = $(this).children("video").attr("src");
      console.log(image);
    }

    var id_val = $(this).attr("id-num");
    $(".imageHolder").attr("src",image);
    $(".imageHolder").attr("id-num",id_val);

    image_info = {};
    image_info['src'] = image.substring(7);
    image_info['id'] = id_val;
    image_info['height'] = $(this).children("img").attr("height") / 10;


      // Add albums info to list
      $.ajax({
        type: "POST",
        url: "/open_modal_view/",
        data: {id: id_val}
      }).done(function( msg ) {
          // upload picture description
          var description = msg["des"];
          var pls = msg["albums"];
          var photo_table = msg["photos"];
          if (description == "") {
            description = "No Description";
          }
          $(".imageDescription").text(description);

          for (var i = 0; i < pls.length; i++) {
            var plName = pls[i];
            var uiElement = $("<ui class='outerUI'> <h5>" + plName + "</h5></ui>");
            var ulPhoto = $("<ul class='previewPhoto'> </ul>");
            for (var j=0; j < photo_table[plName].length; j++) {
              ulPhoto.append($("<ui class='innerUI'> <img class='thumbnail' src='"+photo_table[plName][j]+"'></img></ui"));
            }
            uiElement.append(ulPhoto);
            $(".albumList").append(uiElement);
          }
        });

    });
});

/******** DESELECT ALBUM LISTENER *********/
model.addEventListener("deselect_album", function(e) {
  var album_div = $("#album-" + e.album.id)
  if (e.album.is_user_generated()) {
    make_droppable(album_div);
  } else {
    album_div.droppable();
  }
  album_div.removeClass("selected-album")
  .removeClass("selected-auto-album");
});

/********** REMOVE ALBUM LISTENER *********/
model.addEventListener("remove_album", function(e) {
  $("#album-" + e.album.id).fadeOut();
});

/********* REMOVE CONTENT LISTENER ********/
model.addEventListener("remove_content", function(e) {
  $("#content-" + e.content.id).each(function(i, v) {
    pckry.remove(v);
  });
  pckry.layout();
});

/****** SELECT CONTENT LISETENER ********/
model.addEventListener("select_content", function(e) {
  last_clicked_content = e.content;
  var content_div = $("#content-" + e.content.id);
  content_div.addClass("selected-content");
  var ignored_selectors = "#static-albums .album-name, .navbar, .selected-album"
  $("#content-" + e.content.id).draggable({
    revert: true,
    start: function(event, ui) {
      $(ignored_selectors).fadeTo(250, 0.2);
    },
    helper: function( event ) {
      return $("<div />").addClass("helper").text("" + model.get_num_selected_contents());
    },
    stop: function(event, ui) {
      $(ignored_selectors).fadeTo(250, 1);
    },
    distance: 20,
    cursorAt: { top: 0, left: -25 },
    cursor: "default",
  })});

model.addEventListener("deselect_content", function(e) {
  last_clicked_content = e.content;
  var content_div = $("#content-" + e.content.id);
  content_div
    .draggable('destroy')
    .removeClass("selected-content");
});

  // get albums from django
  // MUST APPEAR AFTER LISTENERS ARE CREATED
  {% for album in albums %}
  var album = new Album({{album.id}},"{{album.name}}");
  model.add_album(album);
  album_map[{{album.id}}] = album;
  {% for content in album.content.all %}
  album.add_content({{content.id}},"{{content.image}}",{{content.metric}},false);
  {% endfor %}
  {% endfor %}

  model.select_album(model.albums[0]);

  // CRUD operations on albums

  // crea
  $("#btnNewAlbum").click(function() {
      // add stubbed out
      model.add_album(new Album(new Date().getTime() % 100));
    });

  $("#btnRenameAlbum").click(function() {
    model.rename_selected_album();
  });

  $("#btnRemoveAlbum").click(function() {
    model.remove_selected_album();
  });

  // Select/Deselect All
  $("#btnSelectAll").click(function() {
    model.select_all();
  });

  $("#btnDeselectAll").click(function() {
    model.deselect_all();
  });

  $("#btnRemoveSelectedContent").click(function() {
    model.remove_selected_contents_from_selected_album();
  });

  
  $(".imageDescription").click(function() {
    var text = $(".imageDescription").text();
    text = text.trim();
    $(".alert").alert('close');
    $(".descriptionInput").val(text);
    $(".descriptionInput").removeClass("hidden");
    $(".imageDescription").addClass("hidden");
    $(".descriptionInput").focus();
  });


  // Both of below functions need support to update backend
  
  $(".descriptionInput").blur(function() {
    var text = $(".descriptionInput").val();
    text = text.trim();
    $(".imageDescription").text(text);
    $(".descriptionInput").addClass("hidden");
    $(".imageDescription").removeClass("hidden");
    var id_val = $(".imageHolder").attr("id-num").toString();
    // send new text value to the server
    $.ajax({
      type: "POST",
      url: "/save_description/",
      data: { id: id_val, description: text}
    }).done(function( msg ) {
      $(".alert").alert('close');
      if (msg != "error") {
        var alertBox = $("<div class='alert alert-block alert-success'> Description was updated. </div>");

        $("#leftCol").append(alertBox);
      } else {
        var alertBox = $("<div class='alert alert-block alert-error'> <strong> ERROR!</strong> Description was not updated. </div>");

        $("#leftCol").append(alertBox);
      }
    });
  });

  $(".descriptionInput").bind('keypress',function(e) {
    var code = (e.keyCode ? e.keyCode : e.which);
    if (code ==13) {
      var text = $(".descriptionInput").val();
      text = text.trim();
      $(".imageDescription").text(text);
      $(".descriptionInput").addClass("hidden");
      $(".imageDescription").removeClass("hidden");
    }
  });

  $("#closeModal").click(function() {
    $("#openModal").css("opacity",0);
    $("#openModal").css("pointer-events","none");
    $(".alert").alert('close');
  });

  $(".favorited").click(function() {
    $(".favorited").toggleClass("btn-success");
    if ($(".favorited").attr('class') == "btn favorited btn-success") {
       favorites_album.add_content(image_info['id'],image_info['src'],image_info['height'],true);
    }
    else {
      console.log("removing");
      console.dir(last_clicked_content);
      favorites_album.remove_content(last_clicked_content);
    }
  });

});
</script>
{% endblock %}

{% block content %}
<body>
  <div id="backdrop" class = "modal-backdrop fade in" style="opacity:0; pointer-events:none"></div>
  <!-- Modal stuff -->
  <div id="openModal" class="modalDialog">
    <div>
      <a href="#" id="closeModal" title="Close" class="close">X</a>
      <div id="leftCol" class="column wide">
        <img class="imageHolder" src=""></img>
        <button class="btn favorited"> Favorited </button>
        <br>
        <h5> Description </h5>
        <p class="imageDescription">

        </p>

        <textarea class="descriptionInput hidden"> </textarea>
      </div>
      <div class="column" id="rightCol">
        <h4> Album Membership </h4>
        <ul class="albumList">
        </ul>
      </div>
      
    </div>
  </div>
  <!-- End modal -->

  <div id="upload" style="float:right">
   <form id="signupForm" method="post" action="/upload/" enctype="multipart/form-data">
    <input name="content" type="file" multiple style="visibility:hidden;" id="uploadme"  onchange="readURL(this);" />

  </div>

  <div id="example" class="modal hide fade in" style="display: none; ">  
    <div class="modal-header">  
      <h3 align="center">Upload Preview</h3>  
    </div>  
    <div class="modal-body">  
      <div id="blah" align="center"></div>              
      <div align="center" style="margin-top:30px">
        Add To Album:
        <select id="album_list" name="album">
          <option value="1">None</option> 
        </select>
      </div>
    </div>  
    <div class="modal-footer">  
      <input class="btn btn-primary" type="submit" style="width:80px"/>
      <a href="#" style="width:80px" class="btn" data-dismiss="modal" onclick="$('#example').hide();$('#backdrop').css('opacity',0);">Close</a>  
    </div>  
  </div>  

</div>  
</form>
<div id="blah2"/>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="well sidebar-nav" style="margin-top:110px;border:2px solid;">
        <ul class="nav nav-list">
          <li class="album-header" margin-left="10px">Albums</li>
          <div id="albums-container" data-intro='Here are all your albums - they help group related content. <br>Try selecting one.<br><b>Note:</b> The ones with the gears are generated automatically.' data-step='1'>
            <div id="static-albums"></div>
            <hr>
            <div id="dynamic-albums">
              <input name="name" id="new_plist" type="text"/>
            </div>
          </div>
          

        </div><!--/.well -->
      </div><!--/span-->
      <div id="content-well" class="span9" data-intro='This shows content from your currently selected album. <br>Try selecting some content. <br><b>Note</b>: You can drag and drop these pieces of content between Albums.' data-step='2'>
        <div class="hero-unit" style="border:2px solid;">
          <h3 align="center" style="line-height:100%" id="album-title" ></h3>

          <div align="center">
           <button class="btn btn-primary" id="btnSelectAll">Select All</button>
           <button class="btn btn-primary" id="btnDeselectAll">Deselect All</button>
           <button class="btn btn-primary" id="btnRemoveSelectedContent">Remove Selected Content</button>
         </div>
         <div>
          <br>
          <hr>
          <div id="contents-container" />
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}





