{% extends "base.html" %}

{% block title %}
Welcome to CoShare!
{% endblock %}

{% block head %}
<link href="{{STATIC_URL}}/css/index.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Autour+One' rel='stylesheet' type='text/css'>

<!-- packery -->
<script src="{{STATIC_URL}}/js/packery.min.js"></script>
<script src="{{STATIC_URL}}/js/jquery.imagesloaded.js"></script>

<style>
.children-well {
  width:200px;
}

.content {
  height: 75px;
}

.contents-container {
  max-height: 255px;
  overflow-y: hidden;
}

#coshare-title {
  font-family: 'Autour One', cursive;
}

.header {
  font-size: 48pt;
  color: #666;
  padding: 10px;
  line-height: 1.2em;
  height: 300px;
}

.header-span {
  vertical-align: middle;
}


</style>

<script>
$(function() {
  $(".contents-container").imagesLoaded(function() {
    $(this).packery({
      itemSelector: ".content",
      gutter: 10,
    });
  });
})
</script>
{% endblock %}

{% block content %}
<!-- page container -->
<div class="container-fluid">
  <!-- TITLE -->
  <div class="row-fluid">
    <div class="span12" align="center">
      <h1 class="text-center"><span id="coshare-title">Welcome to CoShare!</span></h1>
      <i><h2>Manage your content - <b>together</b>.</h2></i>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span4"></div>
    <div class="span4 alert alert-error">
      <span>Hey, you've got stuff in your queue!</span>
      <button class="btn btn-danger pull-right">Go!</button>
    </div>
    <div class="span4"></div>
  </div>
  <!-- BRUNT OF CONTENT -->
  <div class="row-fluid">
    <!-- POPULAR ALBUMS -->
    <div class="span6">
      <div class="container-fluid">
        {% for album in albums %}
          <div class="row-fluid well">
            <div class="span4">
              <h1>{{album.name}}</h1>
              <button class="btn btn-success">See {{album.name}}</button>
            </div>
            <div class="span8 contents-container">
              {% for content in album.content.all %}
              <img class="content" src="/media/{{content.image}}" />
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <!-- KIDS -->
    <div class="span6">
      <div class="container-fluid">
        <div class="row-fluid well">
          <div class="span6">
            <img class="img-rounded" src="/media/static/content/images_1_1.jpeg" />
          </div>
          <div class="span6">
            <h1>John</h1>
            <button class="btn btn-success">See John's Album</button>
          </div>
        </div>
        <div class="row-fluid well">
          <div class="span6">
            <img class="img-rounded" src="/media/static/content/images_4_1.jpeg" />
          </div>
          <div class="span6">
            <h1>Jane</h1>
            <button class="btn btn-success">See John's Album</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}