{% extends "base.html" %}

{% block title %}
Welcome to CoShare!
{% endblock %}

{% block head %}
<link href="{{STATIC_URL}}/css/index.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Autour+One' rel='stylesheet' type='text/css'>

<style>
.children-well {
  width:200px;
}

#coshare-title {
  font-family: 'Autour One', cursive;
}


</style>
{% endblock %}

{% block content %}
<!-- page container -->
<div class="container-fluid">
    <!-- TITLE -->
    <div class="row-fluid">
      <div class="span12">
        <h1 class="text-center">Welcome to <span id="coshare-title">CoShare</span>!</h1>
      </div>
    </div>
    <!-- KIDS -->
    <div class="row-fluid">
      <div class="span6 well" align="center">
        <h3><i>INSERT PICTUERS HERE</i></h3>
        <button class="btn btn-success">See John's Album</button>
      </div>
      <div class="span6 well" align="center">
        <h3><i>INSERT PICTUERS HERE</i></h3>
        <button class="btn btn-success">See Jane's Album</button>
      </div>
    </div>
    <!-- SPECIAL ALBUMS -->
    <div class="row-fluid">
      <!-- YOUR QUEUE -->
      <div class="span4" align="center">
        <div class="well">
          <h3><i>INSERT PICTUERS HERE</i></h3>
          <button class="btn btn-success">See Your Queue</button>
        </div>
      </div>
      <!-- FAVORITS -->
      <div class="span4" align="center">
        <div class="well">
          <h3><i>INSERT PICTUERS HERE</i></h3>
          <button class="btn btn-success">See Your Favorites</button>
        </div>
      </div>
      <!-- RECENTLY ADDED -->
      <div class="span4" align="center">
        <div class="well">
          <h3><i>INSERT PICTUERS HERE</i></h3>
          <button class="btn btn-success">See Recently Added</button>
        </div>
      </div>
    </div>
    <!-- All Content -->
    <div class="row-fluid">
      <div class="span12" align="center">
        <div class="well">
          <h3><i>INSERT PICTUERS HERE</i></h3>
          <button class="btn btn-success btn-large">See Your Queue</button>
        </div>
      </div>
    </div>
</div>

{% endblock %}