#leftColumn{
	margin-top:30px; 
	width:200px;
	border-right:3px solid #EFE8CE;
	max-height: 100%;
}
.leftMenuBlock{
	padding:3px;
	padding-left:6px;
	margin-left:8px;
	margin-bottom:5px;
}
.leftMenuItem{
	position: absolute;
	top: 100;
	font-size:8pt;
	line-height:120%;
	text-decoration:none;
	color:#630;
}

#container
{
	margin: 0 auto;
	width: 100%;
	background: #fff;
}

#header
{
	background: #ccc;
	padding: 20px;
}

#header h1 { margin: 0; }

#content-container
{
	margin-top: 40px;
	float: left;
	width: 100%;
}

#section-navigation
{
	float: left;
	width: 160px;
	padding: 20px 0;
	margin: 0 20px;
	display: inline;
}

#section-navigation ul
{
	margin: 0;
	padding:10px 0 0 10px;
}

#section-navigation ul li
{
	margin: 0 0 1em;
	padding: 0;
	list-style-type: none;
}

#section-navigation h2 { margin: 0; }


#content
{
	float: left;
	width: 500px;
	padding: 20px 0;
	margin: 0 0 0 30px;
}

#content h2 { margin: 0; }

#aside
{
	float: right;
	width: 200px;
	padding: 20px 0;
	margin: 0 20px 0 0;
	display: inline;
}

#aside h3 { margin: 0;
padding-top: 20px; }


#footer{
	clear: left;
	height: 5%;
	width:100%;
	text-align: right;
	position:absolute;
   	bottom:0;
}

#rightSideElement{
	padding:10px 0 0 10px;
}

#contentMedia{
	padding:10px 0 20px 10px;
}

#imageProfile{
	vertical-align: middle;
	padding-right: 10px;
}

#footerText{
	font-size: 10px;
	padding:10px;
	padding-right:20px;
}