<html>
<head>

 <link href="{{STATIC_URL}}/css/bootstrap.css" rel="stylesheet">
  <link href="{{STATIC_URL}}/css/bootstrap-responsive.css" rel="stylesheet">
 <script src="{{STATIC_URL}}/js/jquery-1.9.1.js"></script>
<link href="{{STATIC_URL}}/css/index.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Autour+One' rel='stylesheet' type='text/css'>
<style type="text/css">

#coshare-title {
  font-family: 'Autour One', cursive;
  font-size: 30pt;
  line-height: 1.2em;
  margin-top: 20px;
}


body {
  padding-top: 60px;
}
.sidebar-nav {
  padding: 9px 0;
}

#blah {
  max-height: 200px;
}


@media (max-width: 980px) {
  /* Enable use of floated navbar text */
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
}
</style>

<script type="text/javascript">

function readURL(input) {
    if (input.files && input.files[0]) {
      for (var i = 0, f; f = input.files[i]; i++) {
        (function(i) {
        var reader = new FileReader();

        reader.onload = function (e) {
          var div = document.createElement('div');
          div.id = "divx" + i;
          div.style.float = "left";
          substrings = ['mov','MOV','mp4'];
          var output;
          console.log(e.target.result);
          if (e.target.result.indexOf('video') != -1) {
            output = document.createElement('label');
            output.style.float = "left";
            output.innerHTML = "Video";

    // At least one match
        }
        else {
            output = new Image();
             output.height = "150px";
             output.src = e.target.result;

        }
          
         
          div.style.border = "2px solid black";
          div.style.paddingRight = "15px";
          div.style.margin = "10px";
          var x = new Image();
          x.src = "/static/Red-X.svg"
          x.id = i;
          x.style.height="15px";
          x.style.width="15px";
          x.style.position = "absolute";
          x.style.right = output.style.left + output.style.width;

          x.style.top = output.style.top;
          console.log(output.style.top);
          div.appendChild(output);
          div.appendChild(x);
          x.onclick = function(ev) {
            console.dir(ev.target.id);
            $("#deleted_uploads")[0].value += "" + ev.target.id + "|";
            $("#divx" + ev.target.id)[0].style.display = "none";
          }
          $('#blah').append(div);
        }
        reader.readAsDataURL(f);
      })(i);
      }   
    }
    $("#example").toggle();
    $("#backdrop").css("opacity",1);
  }
$(function() {
{% for album in albums %}
var select = document.getElementById("album_list");
var option = document.createElement("option");
option.text = "{{album.name}}";
option.value = {{album.id}};
select.appendChild(option);
console.log(option);
{% endfor %}
});
</script>

</head>
<body>
<!-- <div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="">CoShare</a>
    </div>
  </div>
</div> -->

<!-- <div class="content-container" align="center">
  <div id="upload">
    <h3>Upload</h3>
    <form id="signupForm" method="post" action="/upload/" enctype="multipart/form-data">
      <input width="150px" name="content" type="file" multiple id="uploadme" onchange="readURL(this);" />
      <input type="submit" name="submit" value="Submit">
    </div>
  </div>
  <input type="file" style="visibility:hidden;" id="uploadme" /> -->
  {% if confirmed %}
<div class="alert alert-success" align="center" style="width:300px;margin-left: auto ;margin-right: auto ;">
  Uploaded!
</div>
{% endif %}
<div class="text-center"><div id="coshare-title" align="center">CoShare</div>
  <div id="upload" align="center">
 <form id="signupForm" method="post" action="/upload/" enctype="multipart/form-data">
  <input name="content" type="file" multiple id="uploadme"  onchange="readURL(this);" />

</div>

<div id="example" class="modal hide fade in" style="display: none; ">  
  <div class="modal-header">  
    <h3 align="center">Upload Preview</h3>  
  </div>  
  <div class="modal-body">  
    <div id="blah" align="center" style="position:relative;float:left"></div>              
    <div align="center" style="margin-top:30px;clear:both;">
      
      <input name="deleted" id="deleted_uploads" style="display:none"/>
    </div>
  </div>  
  <div class="modal-footer">  
    <div style="float:left">
    Add To Album:
      <select id="album_list" name="album" onchange="document.getElementById('new_album_name').value=''">
        <option value="1">None</option> 
      </select>
      <br>
      Or create new album:<input id="new_album_name" name="new_album_name" onfocus="document.getElementById('album_list').selectedIndex=0;"/>
    </div>
    <input class="btn btn-primary" type="submit" style="width:80px"/>
    <input style="display:none" name="mobile" value = "1"/>
    </form>
    <button style="width:80px" class="btn-danger" data-dismiss="modal" onclick="$('#example').hide();$('#backdrop').css('opacity',0);$('#blah')[0].innerHTML='';">Close</button>  
    <br>

    
  </div>  
</div>  

</div>  


</body>
</html>
