<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand coshare-title" href="/" >CoShare</a>
        <ul class="nav">
          <li><a href="/"><i class="icon-home icon-white"></i> Home</a></li>
          <li><a href="/browse/"><i class="icon-search icon-white"></i> Browse</a></li>
          <li><a href="#" onclick="$('#uploadme').click();"><i class="icon-plus icon-white"></i> Add Content</a></li>
          <li><a href="#" onclick="introJs().start()"><i class="icon-question-sign icon-white"></i> Help</a></li>
        </ul>
          {% if userprof %}
          <!--
          Hi {{name}}<button class="btn-warning" onclick="window.location.href='/logout/';" style="margin-left:20px; margin-top:-3px">Logout</button></a>
        -->
          <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              {{name}}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/logout/">Logout</a></li>
            </ul>
          </div>
          {% endif %}
    </div>
  </div>
</div>
