<html lang="en">
<head>
  <link href="../static/css/bootstrap.css" rel="stylesheet">
  <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
</head>
<body>
 
<div class="tabbable tabs-left">
              <ul class="nav nav-tabs">
                <li><a href="#lA" data-toggle="tab">Section 1</a></li>
                <li class="active"><a href="#lB" data-toggle="tab">Section 2</a></li>
                <li><a href="#lC" data-toggle="tab">Section 3</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane" id="lA">
                  <p>I'm in Section A.</p>
                </div>
                <div class="tab-pane active" id="lB">
                  <p>Howdy, I'm in Section B.</p>
                </div>
                <div class="tab-pane" id="lC">
                  <p>What up girl, this is Section C.</p>
                </div>
              </div>
            </div> 
</body>
</html>